# National Coding Week Excercises - R!

## What is this?
This is a jupyter notebook. It is set up with all the data and software dependencies you need to have a go at coding in R/Python. 

## How do I use it?
You can run code by clicking in the code cell and pressing `ctrl`/`cmd` + `enter` or clicking the run button (below)

<img src="images/run-code.png" alt="image" style="height:150px;padding:10px;"/>

You can insert a new code 'chunk' by clicking the + button at the top left of the page (right image) 

<img src="images/insert-code-chunk-1.png" alt="image" style="height:150px;padding:10px;"/>

...and selecting code or markdown with the dropdown (left image).

<img src="images/code-markdown.png" alt="image" style="height:150px;padding:10px;"/>

## Before you start!

Make sure you set the language to R using the change kernel option.

<img src="images/set-kernel.png" alt="image" style="height:150px;padding:10px;"/>

# Coding Challenges:

Try coding in R by having a go at one of our challenges.

## Questions to answer:
* Which city has had the biggest temperature change?
* Which city has had the smallest temperature change?
* Can you make a plot of annual temperature changes for each city or region?
* Can you make a map of temperature changes?

## The Data

The dataset is a collection of daily temperature readings (daing back to 1995) from cities across the globe (split into 7 regions). It was [sourced from Kaggle](https://www.kaggle.com/sudalairajkumar/daily-temperature-of-major-cities) ([original source](https://academic.udayton.edu/kissock/http/Weather/default.htm)) and tidied up a bit to encode missing values and remove data before 995 (there were some readings for year 200 making it difficult to work with). 

The data is stored in the `data` folder. There is one csv of daily temperatures per region. A dataset of monthly mean temperatures for each city is also included in the `data` folder. This is easier to work with because it is much smaller than the daily temperature files. 

## Getting Started

If you are new to R and the tidyverse, have a read through [this cheatsheet](http://datacamp-community-prod.s3.amazonaws.com/c1fae72f-d2d7-4646-9dce-dd0f8fb5c5e8). It will give you the basics of processing and analysis.

# Basics

## Loading packages

R is built on packages which do different things. To use them you need to load them with `library(package_name)`. The following are already installed, load them using this code:

In [8]:
library(readr)
library(dplyr)
library(tidyr)
library(ggplot2)
library(purrr)

## Loading the data
You can load the data using the `read_csv` function with the path to the file as the first argument. Don't forget to assign the result. 
E.g.

In [3]:
city_temps <- read_csv("data/monthly-mean-temps.csv")

-- Column specification --------------------------------------------------------
cols(
  Region = col_character(),
  Country = col_character(),
  State = col_logical(),
  City = col_character(),
  Year = col_double(),
  Month = col_double(),
  monthly_average = col_double()
)

To preview the data use the head function on the object you assigned the data to `city_temps`

In [4]:
head(city_temps)

  Region Country State City    Year Month monthly_average
1 Africa Algeria NA    Algiers 1995 1     51.41935
2 Africa Algeria NA    Algiers 1995 2     54.80000
3 Africa Algeria NA    Algiers 1995 3     55.00000
4 Africa Algeria NA    Algiers 1995 4     57.19333
5 Africa Algeria NA    Algiers 1995 5     67.40968
6 Africa Algeria NA    Algiers 1995 6     71.72333

# Daily Temperatures

We can have a look at the daily temperatures data using the list files function (I'm displaying it as a tibble)

In [6]:
tibble(files = list.files("data", pattern = "daily", full.names = TRUE))

  files
1 data/daily-temperature-africa.csv
2 data/daily-temperature-asia.csv
3 data/daily-temperature-australia-south-pacific.csv
4 data/daily-temperature-europe.csv
5 data/daily-temperature-middle-east.csv
6 data/daily-temperature-north-america.csv
7 data/daily-temperature-south-central-america-carribean.csv
8 data/daily-temperature-us.csv

You can load all of the daily temperatures data into one data frame by reading each csv and binding them together:

In [10]:
files <- list.files("data", pattern = "daily", full.names = TRUE)
all_temps <- map(files, read_csv) %>% bind_rows()

-- Column specification --------------------------------------------------------
cols(
  Region = col_character(),
  Country = col_character(),
  State = col_logical(),
  City = col_character(),
  Month = col_double(),
  Day = col_double(),
  Year = col_double(),
  AvgTemperature = col_double()
)



-- Column specification --------------------------------------------------------
cols(
  Region = col_character(),
  Country = col_character(),
  State = col_logical(),
  City = col_character(),
  Month = col_double(),
  Day = col_double(),
  Year = col_double(),
  AvgTemperature = col_double()
)



-- Column specification --------------------------------------------------------
cols(
  Region = col_character(),
  Country = col_character(),
  State = col_logical(),
  City = col_character(),
  Month = col_double(),
  Day = col_double(),
  Year = col_double(),
  AvgTemperature = col_double()
)



-- Column specification --------------------------------------------------------
cols(
  Region = col_character(),
  Country = col_character(),
  State = col_logical(),
  City = col_character(),
  Month = col_double(),
  Day = col_double(),
  Year = col_double(),
  AvgTemperature = col_double()
)



-- Column specification --------------------------------------------------------
cols(
  Region = col_character(),
  Country = col_character(),
  State = col_logical(),
  City = col_character(),
  Month = col_double(),
  Day = col_double(),
  Year = col_double(),
  AvgTemperature = col_double()
)



-- Column specification --------------------------------------------------------
cols(
  Region = col_character(),
  Country = col_character(),
  State = col_logical(),
  City = col_character(),
  Month = col_double(),
  Day = col_double(),
  Year = col_double(),
  AvgTemperature = col_double()
)



-- Column specification --------------------------------------------------------
cols(
  Region = col_character(),
  Country = col_character(),
  State = col_logical(),
  City = col_character(),
  Month = col_double(),
  Day = col_double(),
  Year = col_double(),
  AvgTemperature = col_double()
)



-- Column specification --------------------------------------------------------
cols(
  Region = col_character(),
  Country = col_character(),
  State = col_logical(),
  City = col_character(),
  Month = col_double(),
  Day = col_double(),
  Year = col_double(),
  AvgTemperature = col_double()
)

        Region        Country State City                 Month Day Year
1       Africa        Algeria NA    Algiers              1      1  1995
2       Africa        Algeria NA    Algiers              1      2  1995
3       Africa        Algeria NA    Algiers              1      3  1995
4       Africa        Algeria NA    Algiers              1      4  1995
5       Africa        Algeria NA    Algiers              1      5  1995
6       Africa        Algeria NA    Algiers              1      6  1995
7       Africa        Algeria NA    Algiers              1      7  1995
8       Africa        Algeria NA    Algiers              1      8  1995
9       Africa        Algeria NA    Algiers              1      9  1995
10      Africa        Algeria NA    Algiers              1     10  1995
11      Africa        Algeria NA    Algiers              1     11  1995
12      Africa        Algeria NA    Algiers              1     12  1995
13      Africa        Algeria NA    Algiers              1     13  1995
14      Africa        Algeria NA    Algiers              1     14  1995
15      Africa        Algeria NA    Algiers              1     15  1995
16      Africa        Algeria NA    Algiers              1     16  1995
17      Africa        Algeria NA    Algiers              1     17  1995
18      Africa        Algeria NA    Algiers              1     18  1995
19      Africa        Algeria NA    Algiers              1     19  1995
20      Africa        Algeria NA    Algiers              1     20  1995
21      Africa        Algeria NA    Algiers              1     21  1995
22      Africa        Algeria NA    Algiers              1     22  1995
23      Africa        Algeria NA    Algiers              1     23  1995
24      Africa        Algeria NA    Algiers              1     24  1995
25      Africa        Algeria NA    Algiers              1     25  1995
26      Africa        Algeria NA    Algiers              1     26  1995
27      Africa        Algeria NA    Algiers              1     27  1995
28      Africa        Algeria NA    Algiers              1     28  1995
29      Africa        Algeria NA    Algiers              1     29  1995
30      Africa        Algeria NA    Algiers              1     30  1995
<U+22EE>       <U+22EE>      <U+22EE> <U+22EE> <U+22EE>             <U+22EE> <U+22EE> <U+22EE>
4361195 North America US      NA    San Juan Puerto Rico 7      2  2013
4361196 North America US      NA    San Juan Puerto Rico 7      3  2013
4361197 North America US      NA    San Juan Puerto Rico 7      4  2013
4361198 North America US      NA    San Juan Puerto Rico 7      5  2013
4361199 North America US      NA    San Juan Puerto Rico 7      6  2013
4361200 North America US      NA    San Juan Puerto Rico 7      7  2013
4361201 North America US      NA    San Juan Puerto Rico 7      8  2013
4361202 North America US      NA    San Juan Puerto Rico 7      9  2013
4361203 North America US      NA    San Juan Puerto Rico 7     10  2013
4361204 North America US      NA    San Juan Puerto Rico 7     11  2013
4361205 North America US      NA    San Juan Puerto Rico 7     12  2013
4361206 North America US      NA    San Juan Puerto Rico 7     13  2013
4361207 North America US      NA    San Juan Puerto Rico 7     14  2013
4361208 North America US      NA    San Juan Puerto Rico 7     15  2013
4361209 North America US      NA    San Juan Puerto Rico 7     16  2013
4361210 North America US      NA    San Juan Puerto Rico 7     17  2013
4361211 North America US      NA    San Juan Puerto Rico 7     18  2013
4361212 North America US      NA    San Juan Puerto Rico 7     19  2013
4361213 North America US      NA    San Juan Puerto Rico 7     20  2013
4361214 North America US      NA    San Juan Puerto Rico 7     21  2013
4361215 North America US      NA    San Juan Puerto Rico 7     22  2013
4361216 North America US      NA    San Juan Puerto Rico 7     23  2013
4361217 North America US      NA    San Juan Puerto Rico 7     24  2013
4361218 North America US      NA    San Juan Puerto Rico 7     25  2013
4361219 North America US      NA    San Juan Puerto Rico 7     26  2013
4361220 North America US      NA    San Juan Puerto Rico 7     27  2013
4361221 North America US      NA    San Juan Puerto Rico 7     28  2013
4361222 North America US      NA    San Juan Puerto Rico 7     29  2013
4361223 North America US      NA    San Juan Puerto Rico 7     30  2013
4361224 North America US      NA    San Juan Puerto Rico 7     31  2013
        AvgTemperature
1       64.2
2       49.4
3       48.8
4       46.4
5       47.9
6       48.7
7       48.9
8       49.1
9       49.0
10      51.9
11      51.7
12      51.3
13      47.0
14      46.9
15      47.5
16      45.9
17      44.5
18      50.7
19      54.0
20      52.6
21      54.2
22      51.0
23      53.5
24      54.2
25      54.2
26      52.6
27      55.5
28      53.8
29      54.3
30      57.4
<U+22EE>       <U+22EE>
4361195 80.5
4361196 79.9
4361197 82.8
4361198 82.9
4361199 82.5
4361200 80.5
4361201 82.6
4361202 82.3
4361203 82.6
4361204 82.9
4361205 82.6
4361206 82.4
4361207 79.8
4361208 79.7
4361209 82.6
4361210 83.4
4361211 78.6
4361212 81.6
4361213 83.4
4361214 82.8
4361215 80.9
4361216 83.1
4361217 83.2
4361218 83.7
4361219 82.4
4361220 82.4
4361221 81.6
4361222 84.2
4361223 83.8
4361224 83.6